.search-box {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	// height: 45px;

	.input-box {
		width: 100%;
		background-color: #fff;
		border: 0.6px solid var(--gray);
		border-radius: 10px;
		height: 100%;
		padding: 10px 15px;

		display: flex;
		align-items: center;
		gap: 15px;

		input {
			border: none;
			outline: none;
			width: 100%;
			font-size: 18px;
		}
	}
}
