.search-box {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 30px;
	// height: 45px;

	.input-box {
		width: 100%;
		background-color: #fff;
		border: 0.6px solid var(--gray);
		border-radius: 10px;
		height: 100%;
		padding: 10px 15px;

		display: flex;
		align-items: center;
		gap: 15px;

		input {
			border: none;
			outline: none;
			width: 100%;
			font-size: 18px;
		}
	}

	.remove-button {
	width: 150px;
	background-color: var(--primary);
	color: white;
	border: 1px solid var(--gray);
	border-radius: 6px;
	font-size: 18px;
	font-weight: 500;

	position: relative;
	top: 0;
	left: 0;

	cursor: pointer;

	transition: 0.2s;

	&:hover {
		top: -5px;
		left: -5px;
		box-shadow: 5px 5px 0 rgb(159, 159, 159);
	}
}

}
