.header {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.go-back {
		display: flex;
		align-items: center;
		gap: 6px;

		font-size: 18px;
		font-weight: 500;

		cursor: pointer;

		&:hover {
			p {
				text-decoration: underline;
			}
		}
	}

	.title {
		max-width: 1200px;
		font-weight: 700;
		font-size: 1.6rem;
	}
}
