.comment-groups {
	display: grid;
	gap: 15px;

	p {
		padding: 25px;
		background-color: #fff;
		border: 0.5px solid var(--gray);
		border-radius: 6px;
		font-weight: 500;
		cursor: pointer;
		transition: 0.1s;

		span {
			padding: 0 1px;
			color: white;
			background-color: var(--primary);
		}

		&:hover {
			background-color: rgb(216, 216, 216);
		}
	}

	.positive {
		background-color: rgb(129, 242, 129);
	}
	.negative {
		background-color: #ff9e9e;
	}
}

.comment-modal {
	width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 30px 50px;
	border-radius: 10px;
}
