@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap");

:root {
	font-size: 16px;
	width: 100vw;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Baloo 2", sans-serif;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	width: 100vw;
	min-height: 100vh;

	background-color: #fef3de;
}

#root {
	--gray: #4a4a4a;
	--primary: #577cff;
	--background: #fef3de;

	width: 100vw;
	min-height: 100vh;
	/* overflow-x: hidden; */
}

.App {
	width: 100vw;
	/* overflow-x: hidden; */
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
